form{
    margin-bottom:5px;
}
form select{
    height: 40px;
}
form button{
    width: 100px;
    font-size:18px;
}
label{
    font-size: 15px;
}
/*th,td{
    padding:3px 5px;
    border:1px solid black;
}
th{
    background-color: mediumaquamarine;
    color:maroon;
    font-size: 18px;
}

td{
    background-color: plum;
    color:black;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}*/
.name{
    color:teal;
    font-size: 16px;
    font-weight: 700;
}

img
{
    height:500px;
    width: 600px;
    margin-left:15px;
    border: 1px solid black;
    box-shadow:5px 5px 5px #888888;
    transform: scale(0);
    animation:1s zoom 1s forwards;
    transition: 0.3s transform ease-in-out;

}
@keyframes zoom{
	100%{
		opacity: 1;
		transform:scale(1);
	}
}


.dis{
    display: block;
    border: 1px solid rgb(203, 203, 218);
    margin:15px 150px; 
    padding-top: 10px;
    padding-bottom:10px;
    /*background-color: #8d108d;*/
    background-color: teal;
    border-radius: 15px;
    color: white;
    width:200px;
    font-size: 20px;
    text-align: center;
}

h2{
    margin-left: 70px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 700;
    color:rgb(34, 58, 27);
}

.container th {
	font-weight: bold;
	font-size: 20px;
    text-align: center;
    color:steelblue;
    width:215px;
}

.container td {
	font-weight: 500;
    font-size: 18px;
    text-align: center;
    color:teal;
    -webkit-box-shadow: 0 2px 2px -2px #0E1119;
	-moz-box-shadow: 0 2px 2px -2px #0E1119;
	box-shadow: 0 2px 2px -2px #0E1119;
}

/*.container {
	  text-align: left;
	  overflow: hidden;
	  width: 100%;
	  margin: 0 auto;
    display: table;
    padding: 0 0 8em 0;
}*/

.container td, .container th {
	  padding-bottom: 2%;
	  padding-top: 2%;
  padding-left:2%;  
  padding-right: 3%;
}

/* Background-color of the odd rows */
.container tr:nth-child(odd) {
	  background-color: #323C50;
}

/* Background-color of the even rows */
.container tr:nth-child(even) {
	  background-color: #2C3446;
}

.container th {
	  background-color: thistle;
}

.container td:first-child { color: #FB667A; }

/*.container tr:hover {
   background-color: #464A52;
-webkit-box-shadow: 0 6px 6px -6px #0E1119;
	   -moz-box-shadow: 0 6px 6px -6px #0E1119;
	        box-shadow: 0 6px 6px -6px #0E1119;
}

.container td:hover {
  background-color: #FFF842;
  color: #403E10;
  font-weight: bold;
  
  box-shadow: #7F7C21 -1px 1px, #7F7C21 -2px 2px, #7F7C21 -3px 3px, #7F7C21 -4px 4px, #7F7C21 -5px 5px, #7F7C21 -6px 6px;
  transform: translate3d(6px, -6px, 0);
  
  transition-delay: 0s;
	  transition-duration: 0.4s;
	  transition-property: all;
  transition-timing-function: line;
}*/
@media only screen and (max-width: 600px) {
    .conatiner{
      width:100%;
    }
    h1{
      font-size:25px;
      width:80%;
      margin-left:10%;
    }
    
    img{
        width:350px;
        height:350px;
        margin-left: 20px;
    }

    .details{
        margin-left:0%;
        width:80%;
    }
    table{
      width:100%;
    }
  
    .container th  {
      font-size: 15px;
      text-align:center
    }
    .container td{
      font-size:15px;
      text-align: center;
    }
  }
  